body {
    font-family: "Poppins", sans-serif;
    background-color: aliceblue;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.container {
    border: 2px solid red;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.buttons {
    display: flex;
    gap: 80px;
}

.scorecontainer {
    margin: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scorecard {
    width: 200px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 200px;
    height: 200px;
}


/*text stuff*/

.title {
    font-weight: 900;
    font-size: 80px;
}

.question {
    font-weight: 600;
    font-size: 25px;
}

.scorecard .score {
    font-weight: 800;
    font-size: 90px;
}

.scorecard .player {
    font-weight: 700;
    font-size: 30px;
}
